#* text=auto

# Visual Studio
#.sln text eol=crlf merge=union eol=crlf 
#*.csproj merge=union eol=crlf
#*.vbproj merge=union eol=crlf
#*.fsproj merge=union eol=crlf
#*.dbproj merge=union eol=crlf

# Source Files
#*.cs     diff=csharp eol=crlf

# Other
#*.md text
#*.mustache text
*.sql text eol=lf

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
